.layout-contacts
  ul.layout-contacts__list
    li.layout-contacts__item Москва, Цветочный бульвар, 13
    li.layout-contacts__item
      a(href="mailto:info@myrussia.ru") info@myrussia.ru
    li.layout-contacts__item
      a(href="tel:+7(495)3339112") +7 (495) 333 91 12
