nav.main-navigation
  ul.main-navigation__list
    li.main-navigation__item
      a.main-navigation__link(href="#") Календарь событий
    li.main-navigation__item
      a.main-navigation__link(href="#") Пресс-центр
    li.main-navigation__item
      a.main-navigation__link(href="#") Регионы
    li.main-navigation__item
      a.main-navigation__link(href="#") Стать членом ассоциации
  ul.main-navigation__list
    li.main-navigation__item
      a.main-navigation__link(href="#")
        svg(width="26", height="26", aria-hidden="true")
          use(xlink:href="#icon_lk")
        |Личный кабинет
    li.main-navigation__item
      a.main-navigation__link(href="#") О «МОЯ РОССИЯ»
    li.main-navigation__item
      a.main-navigation__link(href="#") FAQ
