footer.page-footer
  .container
    .page-footer__social
      include ./social
    .page-footer__contacts
      include ./layout-contacts
    .page-footer__subscribe
      include ./subscribe
    .page-footer__main-navigation
      include ./main-navigation
    .page-footer__copyright
      include ./copyright
