.social
  p.social__header Мы в социальных сетях
  ul.social__list
    li.social__item
      a.social__link(href="#", target="_blank", aria-label="Мы в Facebook")
        svg(width="32", height="32", aria-hidden="true")
          use(xlink:href="#icon_fb")
    li.social__item
      a.social__link(href="#", target="_blank", aria-label="Мы во Вконтакте")
        svg(width="32", height="32", aria-hidden="true")
          use(xlink:href="#icon_vk")
    li.social__item
      a.social__link(href="#", target="_blank", aria-label="Мы в Одноклассниках")
        svg(width="32", height="32", aria-hidden="true")
          use(xlink:href="#icon_ok")
