.anchors
  ul.anchors__list
    li.anchors__item
      a.anchors__link(href="#industries") Ведущие отрасли
    li.anchors__item
      a.anchors__link(href="#partners1") Ассоциации и отраслевые организации
    li.anchors__item
      a.anchors__link(href="#partners2") Научные институты<br>и филиалы РАН
