.anchors
  ul.anchors__list
    li.anchors__item
      a.anchors__link(href="#") Ведущие отрасли
    li.anchors__item
      a.anchors__link(href="#") Ассоциации и отраслевые организации
    li.anchors__item
      a.anchors__link(href="#") Научные институты<br>и филиалы РАН
