section.industries
  h2.industries__header Ведущие отрасли
  p.industries__description Отраслями специализации Владимирской области выступают машиностроение, химическая, легкая, стекольная, пищевая промышленность. Машиностроение представлено производством тракторов и автотракторных приборов, электромоторов, экскаваторов, холодильников и телевизоров, станков, радио- и медицинской техники. Предприятия химической промышленности производят пластмассы, резинотехнические изделия, стекловолокно; предприятия легкой промышленности — льняные ткани. Развито стекольное производство — стекло и хрусталь, а также искусственный кварц. Главные промышленные центры: Владимир, Ковров, Муром, Александров, Гусь- Хрустальный. В сельском хозяйстве выделяются молочное животноводство, свиноводство, птицеводство, выращивание пшеницы, ржи, гречихи, картофеля. Область имеет дефицитный бюджет и дальнейшее социальноэкономическое развитие ее будет осуществляться в рамках утвержденной федеральной целевой программы «Сокращение различий в социально-экономическом развитии регионов Российской Федерации (2002—2010 гг. и до 2015 года)».
  ul.industries__list
    li.industries__item
      .industry
        .industry__additional
          img.industry__img(src="img/industry_1-desktop@1x.jpg", alt="Рыбная промышленность")
          .industry__accent
            p.industry__accent-header 1 563,2
            p.industry__accent-description тонн рыбы и морепродуктов выловлено за 2018 год
        .industry__about
          h3.industry__name Рыбная промышленность
          p.industry__description Рыбная промышленность, играя ведущую роль в хозяйственной структуре Камчатки, имеет сложный состав и многоотраслевую структуру. Кроме собственно рыбопромышленных подотраслей и производств (рыбодобыча, рыбопереработка, охрана и воспроизводство рыбных ресурсов) она включает целый ряд вспомогательных и обслуживающих отраслей и производств, а также элементы производственной и социальной инфраструктуры, наиболее важные из которых — судоремонт, строительство, транспорт, портовое хозяйство, тарное и сетеснастное производство. Доля рыболовства и рыбоводства в валовом региональном продукте Камчатского края составляет около 20 %.
    li.industries__item
      .industry
        .industry__additional
          img.industry__img(src="img/industry_2-desktop@1x.jpg", alt="Рыбная промышленность")
        .industry__about
          h3.industry__name Сельское хозяйство
          p.industry__description Сельскохозяйственное производство представлено животноводством, птицеводством, производством картофеля и овощей. Объём рынка молочной продукции в Камчатском крае составляет около 47 тыс. тонн, из которых продукция местного производства составляет 34 %.
