doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Моя Россия
    link(rel="shortcut icon" href="./img/favicon.ico")
    link(rel="stylesheet" href="css/styles.css")

  body
    include ../../build/svg/svg-sprite.svg

    main
      include ./region/region

    include ./layout/page-footer
