$accent-color: #151f6d;
$alternative-color: #94b0be;
$link-color: #0d87c8;
$text-color: #000000;
$button-color: #00adef;
$border-color: #e8e8e9;

$main-font-family: 'Montserrat';

$desktop: 1440px;
$tablet: 768px;
$mobile: 320px;

$desktop-content-width: 1230px;
