section.partners
  a(name="partners1")
  h2.partners__header Ассоциации и отраслевые<br>организации
  ul.partners__list
    li.partners__item
      a.partner(href="#")
        img.partner__img(src="img/partners/partner_vmtz.jpg", alt="Камчатский моторо-тракторный завод")
        .partner__about
          h3.partner__name Камчатский моторо-тракторный завод
          p.partner__description Строительство тракторного завода началось в годы Великой Отечественной войны в соответствии с постановлением Центрального Комитета ВКП(б) и Совета Народных Комиссаров СССР от 28 февраля 1943 года. Местом строительства была выбрана северная окраина Владимира, район за старой Юрьевской заставой.
    li.partners__item
      a.partner(href="#")
        img.partner__img(src="img/partners/partner_tochmash.jpg", alt="ВПО Точмаш")
        .partner__about
          h3.partner__name ВПО Точмаш
          p.partner__description Ведущий многопрофильный производитель изделий высокоточного приборо- и машиностроения. Завод входит в состав Государственной корпорации по атомной энергии «Росатом».
  .partners__additional
    a.partners__link(href="#", data-link="json/partners.json")
      svg(width="16", height="16", aria-hidden="true")
        use(xlink:href="#icon_load")
      |Посмотреть ещё
    p.partners__counter
      span.partners__counter-text Показано&nbsp;
      span.partners__count.partners__count--current 2
      |&nbsp;из&nbsp;
      span.partners__count.partners__count--total 7

section.partners
  a(name="partners2")
  h2.partners__header Научные институты и филиалы РАН, ведущие или опорные ВУЗы
  ul.partners__list
    li.partners__item
      a.partner(href="#")
        img.partner__img(src="img/partners/partner_dvfy.jpg", alt="Дальневосточный федеральный университет")
        .partner__about
          h3.partner__name Дальневосточный федеральный университет
          p.partner__description Университет ведёт свою историю от Восточного института — первого высшего учебного заведения на Дальнем Востоке и является центром образования и науки на Востоке России. Включает 9 школ, 110 академических департаментов и кафедр, 8 филиалов (в том числе один зарубежный — в Японии).
    li.partners__item
      a.partner(href="#")
        img.partner__img(src="img/partners/partner_tig.jpg", alt="Тихоокеанский институт географии дальневосточного отделения РАН")
        .partner__about
          h3.partner__name Тихоокеанский институт географии дальневосточного отделения РАН
          p.partner__description Региональное отделение Российской академии наук, которое является развитой территориально-распределенной системой комплексных научных центров, институтов, стационаров и научных станций, заповедников, охватывающей практически всю территорию Дальневосточного федерального округа.
  .partners__additional
    a.partners__link(href="#", data-link="json/partners.json")
      svg(width="16", height="16", aria-hidden="true")
        use(xlink:href="#icon_load")
      |Посмотреть ещё
    p.partners__counter
      span.partners__counter-text Показано&nbsp;
      span.partners__count.partners__count--current 2
      |&nbsp;из&nbsp;
      span.partners__count.partners__count--total 4
