.head-actions
  ul.head-actions__list
    li.head-actions__item
      a.head-actions__link(href="#")
        svg(width="22", height="19", aria-hidden="true")
          use(xlink:href="#icon_member")
        span Стать членом АМР
    li.head-actions__item
      a.head-actions__link(href="#")
        svg(width="20", height="20", aria-hidden="true")
          use(xlink:href="#icon_calendar")
        span Организовать мероприятие
